
.vscode/
.vs2019/


bin/
obj/


packages/


*.suo
*.user
*.userosscache
*.sln.docstates


_ReSharper*/
*.sln.iml
*.resharper

.idea/


[Tt]humbs.db
[Tt]est[Rr]esult*/
[Bb]in/
[Dd]ebug/
[Ii]pch/
[Oo]bj/
[Ss]tyle[Cc]op.*
_*[Rr]e[Ss]harper*
.*[Rr]e[Ss]harper*

[Dd]ocuments/[Vv]isual [Ss]tudio [2-9][0-9]*
[Dd]ocuments/[Vv]isual [Ss]tudio 2019/Backup [Ff]iles/

.idea/vcs
.idea/caches


Desktop.ini
Desktop.db