<AuthorizeView>
    <Authorized> 
        <form method="post" action="Identity/Account/LogOut">
            <MudButton 
                ButtonType="ButtonType.Submit" 
                StartIcon="@Icons.Material.Filled.Logout" 
                IconColor="Color.Error"
                Color="Color.Error"
                Variant="Variant.Text">
                Abmelden
            </MudButton>
        </form>
    </Authorized>
</AuthorizeView>
